@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    background-color: #fafafa;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-weight: bold !important;
}

.logo {
    opacity: 0.99;
    background-image: url("../img/phylogenyx.png");
    background-repeat: no-repeat;
    width: 66px;
    height: 34px;
    padding: 0;
    display: inline-block;
    border: 0px;
    margin: 0px;

}

.logo1 {

    background-image: url("../img/phylogenyx.png");
    background-repeat: no-repeat;
    width: 300px;
    height: 100px;
    padding: 0;
    display: inline-block;
    border: 0px;
    margin: 0px;
    opacity: 0.65;

}

.phylogenyx {

    background-image: url("../img/phylogenyx.png");
    background-repeat: no-repeat;
    width: 300px;
    height: 100px;
    padding: 0;
    display: inline-block;
    border: 0px;
    margin: 0px;
    opacity: 0.65;

}

.navbar {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 0.96rem;
    letter-spacing: .2rem;
    color: rgba(10, 0, 0, 0.9);
}

.bg-custom{
    background: linear-gradient( white);
}


hr{
    background: linear-gradient(to right, #c3c3c3, #c3c3c3,#c3c3c3,#c3c3c3,white);
    position: relative;
    bottom: 15px;
    height: 1px;
    border: none;
}

.hr-1{
    background: linear-gradient(to right, #46cf2d, #46cf2d, #46cf2d, #90c386,#fafafa);
    position: relative;
    bottom: 15px;
    height: 3px;
    border: none;
}

.delimeter {
    position: relative;
    background-image: linear-gradient(to right, #2e969c, #40dfe5, white);
    height: 3px;
}

.semi-transparent-delimeter{
    position: relative;
    background-image: linear-gradient(to right, #c3c3c3, #c3c3c3,#c3c3c3,#c3c3c3,#c3c3c3,#c3c3c3,white);
    height: 2px;
}

.text-left{
    text-align: left;
    padding-left: 20.5%;
}

.text-centered{
    text-align: center;
}

.text-rigt{
    text-align: right;
    padding-right: 20.5%;
}

.additional-information{
    font-size: 12px;
    padding-left: 5%;
    padding-right: 5%;
    text-align: left;
}

.sequence-history{
    width: 60%;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

.sequence-header{
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: left;
    font-size: 10px;
}

.sequence-content{
    padding-left: 2%;
    padding-bottom: 1%;
    font-family: monospace;
    text-align: left;
    font-size: 7px;
}




/*===================DROP AREA SECTION START=======================*/
#drop-area {
    border: 2px dashed #ccc;
    border-radius: 20px;
    width: 480px;
    letter-spacing: .07rem;
    margin: 2% auto;
    padding: 20px;
}
#drop-area.highlight {
    border-color: purple;
}
p {
    margin-top: 0;
}
.my-form {
    margin-bottom: 10px;
}
#gallery {
    margin-top: 10px;
}
#gallery img {
    width: 150px;
    margin-bottom: 10px;
    margin-right: 10px;
    vertical-align: middle;
}
.button {
    display: inline-block;
    padding: 10px;
    background: #ccc;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.button:hover {
    background: #ddd;
}
#fileElem {
    display: none;
}

.footer-logos {
    position: fixed;
    bottom: 0;
    width: 100%;
}
/*===================DROP AREA SECTION END=======================*/


/*===================TEXT AREA SECTION START=======================*/
input[type=text], select {
    padding: 3px 2px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

/*===================TEXT AREA SECTION END=======================*/



    .tooltip {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black;
    }

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: #000000;
        color: #000000;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -60px;
        opacity: 0;
        transition: opacity 0.3s;
    }


    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        /*margin: 15% auto; !* 15% from the top and centered *!*/
        padding: 20px;
        border: 1px solid #888;
        width: 100%; /* Could be more or less, depending on screen size */
    }

    /* The Close Button */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    .tooltip .tooltiptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #000000 transparent transparent transparent;
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }

     .progress,
    progress[value] {
        width: 100%;
        border: none;
        margin: 5px 0;
        height: 5px;
        display: block;
        appearance: none;
        -webkit-appearance: none;
    }

    .progress::-webkit-progress-bar,
    progress[value]::-webkit-progress-bar {
        background-color: #e2ecfe;
    }

    .progress::-webkit-progress-value,
    progress[value]::-webkit-progress-value {
        background-color: #9DCA3B;
    }

    .progress-materializecss {
        margin: 5px 0;
        position: relative;
        height: 4px;
        display: block;
        width: 100%;
        background-color: #e2ecfe;
        border-radius: 2px;
        margin: 0.5rem 0 1rem 0;
        overflow: hidden;
    }

    .progress-materializecss .indeterminate {
        background-color: #387ef5;
    }

    .progress-materializecss .indeterminate:before {
        content: "";
        position: absolute;
        background-color: inherit;
        top: 0;
        left: 0;
        bottom: 0;
        will-change: left, right;
        animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
    }

    .progress-materializecss .indeterminate:after {
        content: "";
        position: absolute;
        background-color: inherit;
        top: 0;
        left: 0;
        bottom: 0;
        will-change: left, right;
        animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
        animation-delay: 1.15s;
    }

    @keyframes indeterminate {
        0% {
            left: -35%;
            right: 100%;
        }
        60% {
            left: 100%;
            right: -90%;
        }
        100% {
            left: 100%;
            right: -90%;
        }
    }

    @keyframes indeterminate-short {
        0% {
            left: -200%;
            right: 100%;
        }
        60% {
            left: 107%;
            right: -8%;
        }
        100% {
            left: 107%;
            right: -8%;
        }
    }

       body {     font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
}
        td { vertical-align: top; }
        .d3-context-menu {
            position: absolute;
            display: none;
            background-color: #e7e7e7;
            border-radius: 10px;

               font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;

            font-size: 14px;
            min-width: 150px;
            border: 1px solid #bababa;

            z-index:1200;
        }
        .d3-context-menu ul {
            list-style-type: none;
            margin: 4px 0px;
            padding: 0px;
            cursor: default;
        }

        .d3-context-menu ul li {
            padding: 4px 16px;
        }

        .d3-context-menu ul li:hover {
            background-color: #4677f8;
            color: #fefefe;
        }

            .gradient-custom-2 {
        /* fallback for old browsers */
        background: #fccb90;

        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, #b3bac4, #79858d, #807979, #5f6b7c);

        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: radial-gradient(#15989d, #456ab4);

    }

    .controls {
        padding-top: 20px;
        padding-bottom: 20px;
    }



  .tooltip {
                position: relative;
                display: inline-block;
                border-bottom: 1px dotted black;
            }

            .tooltip .tooltiptext {
                visibility: hidden;
                width: 120px;
                background-color: #000000;
                color: #000000;
                text-align: center;
                border-radius: 6px;
                padding: 5px 0;
                position: absolute;
                z-index: 1;
                bottom: 125%;
                left: 50%;
                margin-left: -60px;
                opacity: 0;
                transition: opacity 0.3s;
            }


            /* Modal Content/Box */
            .modal-content {
                background-color: #fefefe;
                margin: 15% auto; /* 15% from the top and centered */
                padding: 20px;
                border: 1px solid #888;
                width: 80%; /* Could be more or less, depending on screen size */
            }

            /* The Close Button */
            .close {
                color: #aaa;
                float: right;
                font-size: 28px;
                font-weight: bold;
            }

            .close:hover,
            .close:focus {
                color: black;
                text-decoration: none;
                cursor: pointer;
            }

            .tooltip .tooltiptext::after {
                content: "";
                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: #000000 transparent transparent transparent;
            }

            .tooltip:hover .tooltiptext {
                visibility: visible;
                opacity: 1;
            }

            .progress,
            progress[value] {
                width: 100%;
                border: none;
                margin: 5px 0;
                height: 5px;
                display: block;
                appearance: none;
                -webkit-appearance: none;
            }

            .progress::-webkit-progress-bar,
            progress[value]::-webkit-progress-bar {
                background-color: #e2ecfe;
            }

            .progress::-webkit-progress-value,
            progress[value]::-webkit-progress-value {
                background-color: #9DCA3B;
            }

            .progress-materializecss {
                margin: 5px 0;
                position: relative;
                height: 4px;
                display: block;
                width: 100%;
                background-color: #e2ecfe;
                border-radius: 2px;
                margin: 0.5rem 0 1rem 0;
                overflow: hidden;
            }

            .progress-materializecss .indeterminate {
                background-color: #387ef5;
            }

            .progress-materializecss .indeterminate:before {
                content: "";
                position: absolute;
                background-color: inherit;
                top: 0;
                left: 0;
                bottom: 0;
                will-change: left, right;
                animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
            }

            .progress-materializecss .indeterminate:after {
                content: "";
                position: absolute;
                background-color: inherit;
                top: 0;
                left: 0;
                bottom: 0;
                will-change: left, right;
                animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
                animation-delay: 1.15s;
            }

            @keyframes indeterminate {
                0% {
                    left: -35%;
                    right: 100%;
                }
                60% {
                    left: 100%;
                    right: -90%;
                }
                100% {
                    left: 100%;
                    right: -90%;
                }
            }

            @keyframes indeterminate-short {
                0% {
                    left: -200%;
                    right: 100%;
                }
                60% {
                    left: 107%;
                    right: -8%;
                }
                100% {
                    left: 107%;
                    right: -8%;
                }
            }

            .table-content {
               padding-right: 5% !important;

                padding-left: 5% !important;
                padding-top: 2% !important;

            }
